@use "../../../../../scss/variables";
@use "../../../../../scss/mixins";

.form {
    @include mixins.form;

    &__content {
        @include mixins.display(true, false, false, false);
        padding-bottom: 3rem;
    }

    &__account-info,
    &__personal-info {
        @include mixins.display(false, true, false, true);
        flex-wrap: wrap;
    }

    &__body {
        @include mixins.display(false, true, true, true);
    }

    &__data {
        @include mixins.display(true, false, false, true);
        label {
            margin-bottom: 0.5rem;
        }
    
        input {
            @include mixins.border;
        }
    }

    &__btn {
        text-align: center;
    }
}

.account-info {
    p {
        @include mixins.font(1.6rem, 600);
        color: variables.$gris;
        span {
            display: block;
            margin-top: 0.5rem;
            @include mixins.font(1.3rem, 500);
        }
    }
}

.btn {
    width: auto;
    margin: 0 auto;
    @include mixins.boton(variables.$gris, variables.$gris-bg);
}

.validation {
    @include mixins.validation;
}
