<form class="formulario">
    <div class="formulario__content">
        <div class="data-info__account">
            <div *ngFor="let i of account" class="account">
                <p>{{ i.accountType | titlecase }}:
                    {{ i.accountNumber }}
                    <span>Monto: {{ i.initialBalance | currency }}</span>
                </p>
            </div>
        </div>
        <div class="formulario__data-info">
            <p>Cédula:
                <span>{{ customer.person?.identification }}</span>
            </p>
            <p>Edad:
                <span>{{ customer.person?.age }}</span>
            </p>
            <p>Género:
                <span>{{ customer.person?.gender === '0' ? 'F' : 'M' }}</span>
            </p>
        </div>
        <div class="formulario__body">
            <div class="formulario__data">
                <label for="email">Correo</label>
                <input type="email" name="email" id="email" placeholder="example@mail.com" [(ngModel)]="email">
            </div>
            <div class="formulario__data">
                <label for="phone">Telefono</label>
                <input type="tel" name="phone" id="phone" placeholder="Ingresa tu número de teléfono" [(ngModel)]="phone" maxlength="10">
            </div>
            <div class="formulario__data">
                <label for="address">Dirección</label>
                <input type="text" name="address" id="address" placeholder="Ingresa tu número de dirección" [(ngModel)]="address">
            </div>
        </div>
    </div>
    <div class="formulario__btn">
        <button class="btn">
            <span>Editar</span>
        </button>
    </div>
</form>