@use "../../../scss/variables";
@use "../../../scss/mixins";


.container {
    z-index: -1;
    margin-bottom: 5rem;
}

.transactional {
    background: linear-gradient(to right, lighten(variables.$background, 93%) 80%, variables.$blanco 100%);
    position: relative;

    &__content {
        flex-direction: row;
        padding: 3rem 0 10rem 0;
    }

    &__bg {
        @include mixins.img("../../../assets/bg.avif", false);
        background-position: top center;
        background-size: inherit;
        @include mixins.display(false, false, true, true);
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        height: 40rem;
        width: 100%;
    }
}

.title {
    width: 45rem;

    &__main {
        @include mixins.color(variables.$background-header);
        @include mixins.font(3rem, 600);
    }

    &__description {
        font-size: 1.7rem;
        line-height: 1.6;
    }
}

.card {
    background: variables.$blanco;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.1);
    border: 0.1rem solid variables.$gris-claro;
    border-radius: 0.3rem;
    margin: 3rem 5rem;
    width: 45rem;
    z-index: 6;
    position: absolute;
    top: 5rem;
    right: 14rem;

    .form {
        padding: 2.5rem;
        &__heading {
            @include mixins.color(variables.$background-header);
            font-size: 2rem;
            text-align: center;

            span {
                display: block;
            }
        }

        &__data {
            @include mixins.display(true, false, false, false);
            margin-top: 2rem;

            label {
                color: variables.$negro;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            input {
                @include mixins.border;
                margin-bottom: 5rem;
            }
        }

        &__btn {
            border: none;
            display: inline-block;
            width: 100%;

            margin: 0 auto;
            @include mixins.boton(variables.$primario, variables.$primario-gris);
        }

        &__btn-disable {
            @include mixins.boton-disable;
        }
    }
}

.info {
    margin-top: 1rem;
    padding: 1rem 0;

    @include mixins.display(false, true, true, false);

    &__item {
        font-size: 1.2rem;
        @include mixins.font(1.2rem, 500);
        color: lighten(variables.$background-header, 10%);
        border-right: 1px solid lighten(variables.$gris, 30%);
        padding-right: 5rem;

        span {
            color: lighten(variables.$background-header, 10%);
            display: block;
            @include mixins.font(1.8rem, 600);
        }

        &:last-child {
            border: none;
            padding-right: none;
        }
    }
}

.main {
    padding: 5rem 0 0 0;
    &__title {
        text-align: center;
        color: lighten(variables.$background-header, 10%);
        font-weight: 500;
    }

    &__content {
        @include mixins.display(false, true, true, true);

        &-info {
            text-align: center;
            width: 30rem;
            margin-top: 5rem;

            &-icon {
                background: lighten(variables.$background, 93%);
                @include mixins.display(false, false, true, false);
                justify-content: center;
                height: 9rem;
                width: 9rem;
                padding: 3.5rem;
                border-radius: 50%;
                margin: 0 auto;
                color: lighten(variables.$background-header, 10%);
            }

            &-title {
                margin-top: 1rem;
                color: lighten(variables.$background-header, 10%);
                font-size: 2rem;
            }

            &-text {
                color: variables.$negro;
                line-height: 1.6;
                font-size: 1.6rem;
            }
        }
    }
}

