@use "../../../../../../scss/variables";
@use "../../../../../../scss/mixins";

.formulario {
    @include mixins.form;

    &__type-movement {
        @include mixins.header;
    }

    &__title {
        @include mixins.title;
    }

    &__content {
        @include mixins.display
    }

    &__data {
        @include mixins.content;
    }

    &__btn {
        text-align: center;
    }
}

.btn {
    width: auto;
    margin: 0 auto;
    @include mixins.boton(variables.$secundario, variables.$secundario, variables.$secundario-gris);
}

.validation {
    @include mixins.validation;
}