<div class="spacing">
	<header class="header" *ngIf="showBanner">
		<div class="header__grid contenedor">
			<div class="header__menu">
				Menú
			</div>
	
			<div class="header__logo">
				WEALTHSTREAM
			</div>
	
			<nav class="nav">
				<a routerLink="transactional" class="nav__enlace">
					<span class="nav__accesible">Abre tu cuenta</span>
				</a>
				<a href="#" class="nav__enlace nav__btn">
					<span>Ingresa a Banca Web</span>
				</a>
			</nav>
		</div>
	</header>
	
	<router-outlet></router-outlet>
	
	<footer class="footer" *ngIf="showBanner">
		&copy; WealthStream C.A. Todos los derechos reservados
	</footer>
</div>