@use "../scss/mixins";
@use "../scss/variables";


.spacing {
    height: 100vh;
}

.header {
    box-shadow: 0px 0px 5px rgb(0 0 0 / .3);
    padding: 1rem;

    &__grid {
        @include mixins.display(true, false, true, false);

        @include mixins.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        color: variables.$background-header;
        text-transform: uppercase;

        @include mixins.font(2.5rem, 600);
    }
}

.nav {
    gap: 1.5rem;
    margin-top: 3rem;
    @include mixins.display(true, false, false, false);

    @include mixins.tablet {
        flex-direction: row;
        gap: 3rem;
        @include mixins.display(false, false, true, false);
        margin-top: 0;
    }

    &__enlace {
        display: inline-block;
    }

    &__accesible {
        color: variables.$gris;
        display: inline-block;

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background: variables.$gris-claro;
            transition: width 0.3s ease-in;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__btn {
        @include mixins.boton(variables.$background-header, variables.$primario);
    }
}

.footer {
    background: darken(variables.$blanco, 20%);
    color: variables.$negro;
    padding: 3rem;
    width: 100%;
}