<div class="container">
    <div class="formulario contenedor">
        <form class="form">
            <h2 class="form__heading">¡Bienvenido! <span class="form__subheading">Ingresa tus datos</span></h2>
            <div class="form__content">
                <div class="form__data">
                    <label for="identification" class="form__label">Cédula</label>
                    <input type="text" name="identification" id="identification" class="form__input" placeholder="Ingresa tu número de cédula" maxlength="10" [(ngModel)]="identification">
                    <span class="validation" *ngIf="validation && !identification">*Debes ingresar la identificación.</span>
                </div>
                <div class="form__data">
                    <label for="name" class="form__label">Nombre</label>
                    <input type="text" name="name" id="name" class="form__input" placeholder="Ingresa tu nombre" [(ngModel)]="name">
                    <span class="validation" *ngIf="validation && !name">*Debes ingresar tus nombres.</span>
                </div>
                <div class="form__data">
                    <label for="surname" class="form__label">Apellido</label>
                    <input type="text" name="surname" id="surname" class="form__input" placeholder="Ingresa tu apellido" [(ngModel)]="surname">
                    <span class="validation" *ngIf="validation && !surname">*Debes ingresar tus apellidos.</span>
                </div>
                <div class="form__data">
                    <label for="email" class="form__label">Correo</label>
                    <input type="email" name="email" id="email" class="form__input" placeholder="example@mail.com" [(ngModel)]="email">
                    <span class="validation" *ngIf="validation && !email">*Debes ingresar tu correo.</span>
                </div>
                <div class="form__data">
                    <label for="password" class="form__label">Contraseña</label>
                    <input type="password" name="password" id="password" class="form__input" placeholder="Ingresa tu contraseña" maxlength="16" [(ngModel)]="password">
                    <span class="validation" *ngIf="validation && !password">*Debes ingresar tu contraseña.</span>
                    <span class="validation" *ngIf="validation && checkPassword">*Debes ingresar una contraseña válida.</span>
                </div>
                <div class="form__data">
                    <label for="age" class="form__label">Edad</label>
                    <input type="number" name="age" id="age" class="form__input" placeholder="Ingresa tu número de edad" maxlength="2" [(ngModel)]="age">
                    <span class="validation" *ngIf="validation && !age">*Debes ingresar tu edad.</span>
                </div>
                <div class="form__data">
                    <label for="gender" class="form__label">Género</label>
                    <select name="gender" id="gender" class="form__select" [(ngModel)]="gender">
                        <option value="">-- Seleccione --</option>
                        <option value="1">-- Masculino --</option>
                        <option value="0">-- Femenino --</option>
                    </select>
                    <span class="validation" *ngIf="validation && !gender">*Debes seleccionar tu género.</span>
                </div>
                <div class="form__data">
                    <label for="phone" class="form__label">Teléfono</label>
                    <input type="tel" name="phone" id="phone" class="form__input" placeholder="Ingresa tu número de teléfono" maxlength="10" [(ngModel)]="phone">
                    <span class="validation" *ngIf="validation && !phone">*Debes ingreasr tu teléfono.</span>
                </div>
                <div class="form__data">
                    <label for="address" class="form__label">Dirección</label>
                    <input type="text" name="address" id="address" class="form__input" placeholder="Ingresa tu número de dirección" [(ngModel)]="address">
                    <span class="validation" *ngIf="validation && !address">*Debes ingrear tu dirección.</span>
                </div>
            </div>
            <div class="form__btn">
                <button (click)="createCustomer()" class="btn">
                    <span>Continuar</span>
                </button>
            </div>
        </form>
    </div>
</div>
