@use '../../../scss/variables';
@use '../../../scss/mixins';

.formulario {
    padding: 2.7rem;
}

.form {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.3);
    @include mixins.form;
    
    &__heading {
        color: lighten(variables.$background-header, 10%);
        font-size: 2rem;
        text-align: center;

        span {
            display: block;
            margin: 0
        }
    }

    &__content {
        @include mixins.display(false, true, false, false);
        flex-wrap: wrap;
        margin: 5rem 0 5rem 0;
        width: 100%;
    }

    &__data {
        @include mixins.display(true, false, false, false);
        width: calc(33.33% - 2rem);

        label {
            color: variables.$negro;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        input, select {
            @include mixins.border;
        }

        select {
            cursor: pointer;
        }
    }

    &__btn {
        text-align: center;
    }
}

.btn {
    width: auto;
    margin: 0 auto;
    @include mixins.boton(variables.$primario, variables.$primario-gris);
}

.validation {
    @include mixins.validation;
}