<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <div class="sidenav-content">
            <div class="content-sidenav__logo">
                WEALTHSTREAM
            </div>
            <div class="content-sidenav">
                <div class="content-sidenav__profile">
                    <div class="content-sidenav__bg"></div>
                    <p class="content-sidenav__names"> {{customer.person?.name}} {{customer.person?.surname}}
                        <span>Ultimo acceso {{ movement | date:'MMM/dd HH:mm:ss' }}</span>
                    </p>
                </div>
                <ul>
                    <li (click)="profile()">
                        <mat-icon fontIcon="account_circle"></mat-icon>
                        <span>Perfil</span>
                    </li>
                    <li (click)="summarize()">
                        <mat-icon fontIcon="summarize"></mat-icon>
                        <span>Reportes</span>
                    </li>
                    <li (click)="deposit()">
                        <mat-icon fontIcon="attach_money"></mat-icon>
                        <span>Depósito</span>
                    </li>
                    <li (click)="withdrawal()">
                        <mat-icon fontIcon="monetization_on"></mat-icon>
                        <span>Retiro</span>
                    </li>
                    <li (click)="transfer()">
                        <mat-icon fontIcon="move_up"></mat-icon>
                        <span>Transferencia</span>
                    </li>
                </ul>

                <div class="content-sidenav-btn">
                    <button (click)="signOut()" class="btn">
                        <span>Salir</span>
                    </button>
                </div>
            </div>
            <footer class="footer">
                &copy; WealthStream C.A. <span>Todos los derechos reservados</span>
            </footer>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <h2>¡Bienvenido! <span>{{ title }}</span></h2>

            <div class="account__content">
                <router-outlet></router-outlet>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>