@use "variables";

@mixin telefono {
    @media (min-width: variables.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: variables.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$desktop) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto, $bgHover) {
    background-color: #fff;
    align-items: center;
    border: 1px solid $bgColor;
    color: $colorTexto;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    padding: 1rem;
    cursor: pointer;
    position: relative;

    ::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all 1s ease;
        width: 0;
    }

    :hover::before {
        background: $bgHover;
        border: none;
        width: 100%;
    }
}

@mixin validation {
    color: #dc3545;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.5rem;
}

@mixin form {
    border: 1px solid lighten(variables.$gris, 30%);
    border-radius: 0.3rem;
    padding: 5rem;
    margin: 0 auto;
}

@mixin header {
    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: variables.$gris;

        span {
            font-weight: 600;
        }
    }
}

@mixin title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    h3 {
        color: lighten(variables.$background-header, 10%);
    }

    p {
        font-size: 1.6rem;
        font-weight: 600;
        color: variables.$gris;
        span {
            color: variables.$gris;
            margin-left: 0.5rem;
            text-align: left;
        }
    }
}

@mixin display {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin: 5rem 0 5rem 0;
    width: 100%;
}

@mixin content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 2rem);

    label {
        margin-bottom: 0.5rem;
    }

    input,
    select {
        border-radius: 0.3rem;
        border: 1px solid lighten(variables.$gris, 30%);
        outline: none;
        padding: 1.5rem;
    }

    select {
        cursor: pointer;
    }
}

// @mixin grid($columnas, $espaciado ) {
//     display: grid;
//     gap: $espaciado;
//     grid-template-columns: repeat($columnas, 1fr);
// }

// @mixin headingCursiva {
//     color: v.$secundario;
//     font-family: v.$fuenteCursiva;
//     font-size: 4rem;
//     font-weight: 400;
//     line-height: .8;
//     text-align: center;
//     text-transform: lowercase;

//     span {
//         color: v.$negro;
//         display: block;
//         font-family: v.$fuentePrincipal;
//         text-transform: uppercase;
//     }
// }

// @mixin heading {
//     font-weight: 400;
//     font-size: 4rem;
//     text-transform: uppercase;
//     text-align: center;
// }
