$fuentePrincipal: 'Lato', sans-serif;
$fuenteCursiva: 'Italianno', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$background-header: #0F172A;
$background: #040209;
$primario: #0072BB;
$secundario: #4CAF50; 
$negro: #000;
$blanco: #FFF;
$gris:  #555;
$gris-claro: #ECECEC;