$fuentePrincipal: 'Lato', sans-serif;
$fuenteCursiva: 'Italianno', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$background-header: #0F172A;
$background: #040209;
$primario: #42a5f5;
$secundario: #D9991A; 
$terciario: #7066e0;
$negro: #000;
$blanco: #FFF;
$gris:  #545454;
$gris-claro: #ECECEC;
$primario-gris: #42a5f533;
$secundario-gris:#d9991a33;
$terciario-gris: #7066e033;
$gris-bg: #9fa6b233;
$sing-out: #DC4C64;
$sing-out-gris: #dc4c6433;;