@use "../../../../scss/variables";
@use "../../../../scss/mixins";

.container {
    @include mixins.display(true, true, false, false);
    padding-bottom: 9.7rem;
}

.account-title {
    padding-top: 5rem;
    text-align: center;

    &__slogan {
        color: lighten(variables.$background-header, 10%);
        @include mixins.font(1.8rem, 500);
    }

    &__welcome,
    &__account {
        display: block;
        &__brand {
            span {
                font-weight: 600;
            }
        }
    }  
}

.slogan__names {
    font-weight: 600;
}

.account__content {
    padding-top: 5rem;
    display: flex;
    gap: 2rem;

    &-data {
        border: 1px solid;
        width: calc(50% - 2rem);
    }
}

.form {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.3);
    @include mixins.form;

    &__heading {
        color: lighten(variables.$background-header, 10%);
        font-size: 2rem;
        text-align: center;

        span {
            display: block;
        }
    }

    &__content {
        @include mixins.display(false, true, false, true);
        margin: 5rem 0 5rem 0;
        width: 100%;
    }

    &__data {
        @include mixins.display(true, false, false, false);
        width: calc(50% - 2rem);

        label {
            color: variables.$negro;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        input,
        select {
            @include mixins.border;
        }

        select {
            cursor: pointer;
        }
    }

    &__btn {
        text-align: center;
    }
}

.btn {
    width: auto;
    margin: 0 auto;
    @include mixins.boton(variables.$primario, variables.$primario-gris);
}


.validation {
    @include mixins.validation;
}